<nav class="w-full z-50 bg-white shadow-md relative flex">
    <!-- Логотип -->
    <div class="hidden sm:flex text-2xl font-bold text-gray-800 w-1/8 px-6 py-4 gap-4 min-w-max">
        <a href="/">Portfol.io</a>
    </div>

    <div class="flex justify-center sm:justify-end items-center px-6 py-4 gap-4 relative w-full sm:w-7/8 sm:flex">
        <!-- Поиск и выход -->
        <div class="w-auto flex justify-between items-center gap-4 relative">
            <!-- Навигационные кнопки -->
            <div class="flex gap-8 text-gray-700 font-medium">
                <a href="/" class="hover:text-blue-600 transition rounded-2xl  hover:bg-gray-300">
                    <svg class="w-5 h-5 text-gray-500 pointer-events-none"
                         fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"/>
                    </svg>
                </a>
            </div>

            <!-- Поле поиска -->
            <div class=" relative">
                <div>
                    <input id="searchInput" type="text" placeholder="Поиск..." autocomplete="off"
                           class="w-40 pl-4 pr-10 py-1 rounded-md bg-gray-100 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition"
                    />
                    <svg class="w-5 h-5 absolute right-2 top-1/2 -translate-y-1/2 text-gray-500 pointer-events-none"
                         fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"/>
                    </svg>
                </div>


                <!-- Выпадающее окно -->
                <div id="searchResults"
                     class="hidden absolute top-full -right-18 max-w-fit sm:right-0 sm:translate-x-0 mt-2 w-96 sm:max-h-[50vh]
                     bg-white shadow-lg rounded-md overflow-y-auto border border-gray-200 z-40">
                    <!-- Фильтры -->
                    <div class="flex justify-between gap-4 px-4 py-2 border-b border-gray-300 bg-gray-50 sticky top-0">
                        <button class="filter-btn active" data-filter="all">Все</button>
                        <button class="filter-btn" data-filter="users">Пользователи</button>
                        <button class="filter-btn" data-filter="projects">Проекты</button>
                    </div>

                    <div class="px-2 py-1 sm:px-4 sm:py-2">
                        <!-- Динамический список -->
                        <div id="searchUsers" class="mb-4">
                            <h4 class="font-semibold text-gray-600 mb-1">Пользователи</h4>
                            <ul class="space-y-1 text-sm text-gray-800"></ul>
                        </div>
                        <div id="searchProjects">
                            <h4 class="font-semibold text-gray-600 mb-1">Проекты</h4>
                            <ul class="space-y-1 text-sm text-gray-800"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <% if (user) { %>
                <div class="relative">
                    <img src="<%= user.avatar || '/uploads/default-avatar-hq.png' %>" alt="avatar"
                         class="w-8 h-8 rounded-full cursor-pointer border-2 border-gray-300 " />

                    <div id="userDropdown" class="absolute right-0 mt-2 w-40 bg-white border border-gray-200 rounded-md shadow-md hidden z-50">
                        <a href="/profile/<%= user.id %>" class="block px-4 py-2 hover:bg-gray-100 text-sm">Профиль</a>
                        <% if (user.role === 2) { %>
                            <a href="/admin" id="admin-panel" class="block px-4 py-2 hover:bg-gray-100 text-sm">Админ-панель</a>
                        <% } %>
                        <form action="/logout">
                            <button class="w-full text-left px-4 py-2 text-sm hover:bg-gray-100 text-red-500">Выйти</button>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <a href="/login" class="text-blue-600 font-semibold hover:underline">Вход</a>
            <% } %>
        </div>
    </div>
</nav>

<script src="/nav.js"></script>