<% projects.forEach(project => { %><div class="bg-white rounded-lg shadow p-4 hover:shadow-lg transition-all project-card cursor-pointer" data-id="<%= project.id %>"
                                        style='background-image: url("<%= project.cover %>"); background-size: cover; background-position: center;'>
    <div class="inset-0 bg-white/85 p-8 flex flex-col justify-between">
        <h2 class="text-xl font-semibold mb-2"><%= project.title %></h2>
        <p class="text-sm text-gray-600"><%= project.description || 'No description provided.' %></p>
    </div>
</div>
<% }) %>

<script src="/handleMobileDoubleTap.js"></script>
<script>
    document.querySelectorAll('.project-card').forEach(card => {
        const projectId = card.dataset.id;

        card.addEventListener('dblclick', () => {
            window.location.href = `/project/${projectId}/view`;
        });

        card.addEventListener('touchend', handleMobileDoubleTap(() => {
            window.location.href = `/project/${projectId}/view`;
        }));
    });
</script>